<section id="sobre" class="sobre-section">
  <div class="container">
    <h2 class="titulo-sobre">Sobre</h2>
    <div class="linha-sobre"></div>
    <div class="conteudo-sobre">
      <div class="coluna texto-esquerda">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo inventore dignissimos eum reprehenderit nihil unde voluptas neque exercitationem. Accusantium minima laborum, accusamus quae aliquam ab mollitia sit odit expedita nemo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo itaque amet, optio quia architecto libero hic eaque modi, fugiat eveniet nisi praesentium perspiciatis beatae fugit animi sint expedita commodi quisquam. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe ad tempore consequatur aut, eaque tempora minus hic, ut recusandae facere quam expedita, pariatur itaque atque. Eligendi molestias maiores minus numquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, praesentium tempora inventore non odio molestias cumque alias nam a incidunt nostrum corporis sapiente explicabo numquam quae quaerat! Aut, nihil nam? 
        </p>
      </div>
      <div class="coluna direita">
      </div>
    </div>
  </div>
</section>