<section id="metodologia" class="metodologia-section">
  <div class="container">
    <h2 class="titulo-metodologia">Metodologia</h2>
    <p>Observe abaixo como o grupo se organizou em suas entregas</p>
    <div class="timeline-container">
      <button class="scroll-btn left" (click)="scrollTimeline('left')">&lt;</button>
      <div class="timeline-wrapper" #timelineWrapper>
        <div class="timeline">
          <div class="event" *ngFor="let e of eventos">
            <div class="circle">{{ e.texto }}</div>
            <div class="date">{{ e.data }}</div>
          </div>
        </div>
      </div>
      <button class="scroll-btn right" (click)="scrollTimeline('right')">&gt;</button>
    </div>
  </div>
</section>