<section id="time" class="time-section">
  <div class="container">
    <h2 class="titulo-time">Time <b>EMBARK</b></h2>
    <div class="conteudo-time">
        <div class="perfil" id="bruna">
            <img src="assets/time/bruna.png" alt="Foto da Integrante Bruna">
            <h3>Bruna Rachel</h3>
        </div>
        <div class="perfil" id="daniel">
            <img src="assets/time/daniel.png" alt="Foto do Integrante Daniel">
            <h3>Daniel Moreira</h3>
        </div>
        <div class="perfil" id="fabiam">
            <img src="assets/time/fabiam.png" alt="Foto do Integrante Fabiam">
            <h3>Fabiam Damaceno</h3>
        </div>
        <div class="perfil" id="gilberto">
            <img src="assets/time/gilberto.png" alt="Foto do Integrante Gilberto">
            <h3>Gilberto Lafi</h3>
        </div>
        <div class="perfil" id="giovanna">
            <img src="assets/time/giovanna.png" alt="Foto da Integrante Giovanna">
            <h3>Giovanna Calmon</h3>
        </div>
        <div class="perfil" id="guilherme">
            <img src="assets/time/guilherme.png" alt="Foto do Integrante Guilherme">
            <h3>Guilherme Lima</h3>
        </div>
        <div class="perfil" id="pedro">
            <img src="assets/time/pedro.png" alt="Foto do Integrante Pedro">
            <h3>Pedro Nicolas Costa</h3>
        </div>
        <div class="perfil" id="priscila">
            <img src="assets/time/priscila.png" alt="Foto da Integrante Priscilla">
            <h3>Priscila Herculano</h3>
        </div>
        <div class="perfil" id="tomas">
            <img src="assets/time/tomas.png" alt="Foto do Integrante Tomas">
            <h3>Tomas Silva</h3>
        </div>
    </div>
  </div>
</section>