<section id="time" class="time-section">
  <div class="container">
    <h2 class="titulo-time">Time <b>EMBARK</b></h2>
    <div class="conteudo-time">
        <div class="perfil" id="bruna" (click)="abrirModal('bruna')">
            <img src="assets/time/bruna.png" alt="Foto da Integrante Bruna">
            <h3>Bruna Rachel</h3>
        </div>
        <div class="perfil" id="daniel" (click)="abrirModal('daniel')">
            <img src="assets/time/daniel.png" alt="Foto do Integrante Daniel">
            <h3>Daniel Moreira</h3>
        </div>
        <div class="perfil" id="fabiam" (click)="abrirModal('fabiam')">
            <img src="assets/time/fabiam.png" alt="Foto do Integrante Fabiam">
            <h3>Fabiam Damaceno</h3>
        </div>
        <div class="perfil" id="gilberto" (click)="abrirModal('gilberto')">
            <img src="assets/time/gilberto.png" alt="Foto do Integrante Gilberto">
            <h3>Gilberto Lafi</h3>
        </div>
        <div class="perfil" id="giovanna" (click)="abrirModal('giovanna')">
            <img src="assets/time/giovanna.png" alt="Foto da Integrante Giovanna">
            <h3>Giovanna Calmon</h3>
        </div>
        <div class="perfil" id="guilherme" (click)="abrirModal('guilherme')">
            <img src="assets/time/guilherme.png" alt="Foto do Integrante Guilherme">
            <h3>Guilherme Lima</h3>
        </div>
        <div class="perfil" id="pedro" (click)="abrirModal('pedro')">
            <img src="assets/time/pedro.png" alt="Foto do Integrante Pedro">
            <h3>Pedro Costa</h3>
        </div>
        <div class="perfil" id="priscila" (click)="abrirModal('priscila')">
            <img src="assets/time/priscila.png" alt="Foto da Integrante Priscila">
            <h3>Priscila Herculano</h3>
        </div>
        <div class="perfil" id="tomas" (click)="abrirModal('tomas')">
            <img src="assets/time/tomas.png" alt="Foto do Integrante Tomas">
            <h3>Tomas Silva</h3>
        </div>
        <div class="modal-overlay" *ngIf="modalAberto" (click)="fecharModal()">
            <div class="modal-content" (click)="$event.stopPropagation()">
                <button class="fechar" (click)="fecharModal()">✖</button>
                <div class="integrante-titulo">
                    <img [src]="integranteSelecionado.foto" alt="Foto" class="foto-perfil"/>
                    <div class="nome-idade">
                        <h3>{{ integranteSelecionado.nome }}</h3>
                        <p>{{ integranteSelecionado.idade }} anos</p>
                    </div>
                </div>
                <p><b>Curso:</b> {{ integranteSelecionado.curso }}</p>
                <p><b>Área:</b> {{ integranteSelecionado.area }}</p>
                <div class="redes-sociais" *ngIf="integranteSelecionado.linkedin">
                    <a [href]="integranteSelecionado.linkedin" target="_blank" aria-label="LinkedIn">
                        <img src="assets/linkedin.svg" alt="LinkedIn" class="linkedin-icon">
                    </a>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>